#notification {
  font-family: 'Roboto';
  font-size: 24px;
  color: #FFFFFF;
}

.image-container {
  width: 100%;
  height: 100%;
}

#notification .image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.text-container{
  position: static;
  text-shadow: 0px 0px 1px #000000, 0px 0px 2px #000000, 0px 0px 3px #000000, 0px 0px 4px #000000, 0px 0px 5px #000000;
}

.video-container {
  display: table-cell;
  vertical-align: middle;
}

.video {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.subtitle {
  font-size: 24px;
  color: #FFFFFF;
}

.title {
  color: #FFFFFF;
}

.tts {
  display: none;
}

.keyword:not(.user_message) {
  color: #FF9F9F;
}
/*Images Styles--------------------------------------------------Images Styles*/
.MorD{
    position: static;
}

.MorT{
    position: relative;
    top: 62px;
    left: -120px;
    width: 222px;
    height: 174;
}

.Morden{
    position: relative;
    animation-name: AnMorTank;
    animation-duration: 20s;
}
@keyframes AnMorTank{
    0%  {left:1400px;}
   100% {left:-4000px;}
}

.FlyA{
    position: relative;
    animation-name: AnFlyA;
    animation-duration: 20s;
}
@keyframes AnFlyA{
    0%  {left:1400px;}
   100% {left:-2200px;}
}

.FlyB{
    position: relative;
    animation-name: AnFlyB;
    animation-duration: 20s;
}
@keyframes AnFlyB{
    0%  {left:1400px;}
   100% {left:-2200px;}
}

.FlyC{
    position: relative;
    transform: scaleX(-1);
    animation-name: AnFlyC;
    animation-duration: 20s;
}
@keyframes AnFlyC{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.JTank{
    position: relative;
    animation-name: AnJTank;
    animation-duration: 20s;
}
@keyframes AnJTank{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.LVArmor{
    position: relative;
    transform: scaleX(-1);
    animation-name: AnLVArmor;
    animation-duration: 20s;
}
@keyframes AnLVArmor{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.M15A{
    position: relative;
    animation-name: AnM15A;
    animation-duration: 20s;
}
@keyframes AnM15A{
    0%  {left:1400px;}
   100% {left:-1800px;}
}

.GunUn{
    position: relative;
    animation-name: AnGunUn;
    animation-duration: 20s;
}
@keyframes AnGunUn{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.MaGun{
    position: relative;
    animation-name: AnMaGun;
    animation-duration: 20s;
}
@keyframes AnMaGun{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.ClUn{
    position: relative;
    animation-name: AnClUn;
    animation-duration: 20s;
}
@keyframes AnClUn{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.PtoTank{
    position: relative;
    width: 118px;
    height: 96;
    animation-name: AnPtoTank;
    animation-duration: 20s;
}
@keyframes AnPtoTank{
    0%  {left:1400px;}
   100% {left:-1800px;}
}

.ReBi{
    position: relative;
    animation-name: AnReBi;
    animation-duration: 20s;
}
@keyframes AnReBi{
    0%  {left:1400px;}
   100% {left:-2200px;}
}

.SV2III{
    position: relative;
    animation-name: AnSV2III;
    animation-duration: 20s;
}
@keyframes AnSV2III{
    0%  {left:1400px;}
   100% {left:-1800px;}
}

.SV001{
    position: relative;
    transform: scaleX(-1);
    animation-name: AnSV001;
    animation-duration: 20s;
}
@keyframes AnSV001{
    0%  {left:1400px;}
   100% {left:-1800px;}
}

.SlGun{
    position: relative;
    transform: scaleX(-1);
    animation-name: AnSlGun;
    animation-duration: 20s;
}
@keyframes AnSlGun{
    0%  {left:1400px;}
   100% {left:-1400px;}
}

.Tiaf660{
    position: relative;
    transform: scaleX(-1);
    animation-name: AnTiaf660;
    animation-duration: 20s;
}
@keyframes AnTiaf660{
    0%  {left:1400px;}
   100% {left:-2200px;}
}

.Cokka{
    position: relative;
    animation-name: AnCokka;
    animation-duration: 20s;
}
@keyframes AnCokka{
    0%  {left:1400px;}
   100% {left:-1800px;}
}

.UFO{
    position: relative;
    animation-name: AnUFO;
    animation-duration: 20s;
}
@keyframes AnUFO{
    0%  {left:1400px;}
   100% {left:-1800px;}
}
/*Christopher Torres
https://github.com/ctorress0801
https://www.twitch.tv/heavym4chinegun
HM4G/Ctorress0801 May 2020*/
